<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body style="background: #f2f2f2">

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<%= yield %>
</body>
</html>
